@import "vars.css";
@import "react-burger-menu.css";

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 75%;
  font-family: sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 100%;
  }
}

body {
  height: 100%;
  margin: 0;
}

.adj-react-transition-group > * {
  width: 100%;
  position: relative;
}

.adj-react-transition-enter {
  opacity: 0.01;
  transition: opacity var(--transition-time) ease-in-out;
  position: absolute;
}

.adj-react-transition-enter.adj-react-transition-enter-active {
  opacity: 1;
}

.adj-react-transition-leave {
  opacity: 1;
  transition: opacity var(--transition-time) ease-in-out;
  position: absolute;
}

.adj-react-transition-leave.adj-react-transition-leave-active {
  opacity: 0;
}


/* */

.adj-react-transition-header-group {
  overflow: hidden;
}

.adj-react-transition-header-item {
  position: relative;
  top: 0;
  height: 5rem;

  &.adj-react-transition-header-enter {
    opacity: 0;
    top: -5rem;
    height: 0;
    overflow: hidden;
    transition:
      opacity var(--transition-time) ease-in-out,
      top var(--transition-time) ease-in-out,
      height var(--transition-time) ease-in-out;
  }

  &.adj-react-transition-header-enter.adj-react-transition-header-enter-active {
    opacity: 1;
    top: 0;
    height: 5rem;
  }

  &.adj-react-transition-header-leave {
    opacity: 1;
    top: 0;
    height: 5rem;
    transition:
      opacity var(--transition-time) ease-in-out,
      top var(--transition-time) ease-in-out,
      height var(--transition-time) ease-in-out;
  }

  &.adj-react-transition-header-leave.adj-react-transition-header-leave-active {
    opacity: 0;
    top: -5rem;
    height: 0;
  }
}

.adj-center {
  text-align: center;
}

.adj-clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

.adj-link-unstyled {
  color: inherit;
  text-decoration: inherit;
}

.adj-list-unstyled {
  padding: 0;
  list-style: none;
}


.adj-menu-item {
}

.adj-menu-item-link {
  display: block;
  padding: .25em 1em;
  text-transform: uppercase;
  font-family: var(--font-family-display);
  transition: background 250ms;

  &:hover {
    background: rgba(255,255,255,.25);
  }
}

.adj-menu-item-icon {
  width: 1.5em;
}


.adj-page-heading {
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font-family-display);
  font-size: 3rem;

  & a {
    color: var(--color);
    text-decoration: none;
  }
}

.adj-page {
  background: rgba(255, 255, 255, .6);
  color: #444;

  padding: .5rem 1rem;
}

.adj-background {
  /*background: #43cea2;
  background: -webkit-linear-gradient(to left, #43cea2 , #185a9d);
  background: linear-gradient(to left, #43cea2 , #185a9d);

  background: #000000;
  background: -webkit-linear-gradient(to left, #220022 , #53346D);
  background: linear-gradient(to left, #220022 , #53346D); */

  color: var(--color);
  /*background: rgb(50,110,150);*/
}

.adj-header {
  padding: .5rem 1rem .5rem 3.5rem;
}

.adj-header-logo-box {
  float: left;
  height: 3rem;
}

.adj-header-logo {
  display: block;
  height: 3rem;
  width: auto;
}

.adj-header-name {
  float: left;
  padding: .5rem;
  font-size: 2rem;
  line-height: 2rem;
  text-transform: uppercase;
  font-family: var(--font-family-display);
}


.adj-hero {
  padding-top: 1rem;
}

.adj-hero h2 {
  text-transform: uppercase;
  font-family: var(--font-family-display);
  font-size: 1.5rem;
}

.adj-hero-name {
  text-transform: uppercase;
  font-family: var(--font-family-display);
  font-size: 3rem;
  margin-bottom: 0;
}

.adj-hero-logo {
  width: 480px;
  max-width: 100%;
}


.adj-btn {
  display: inline-block;
  color: black;
  background: white;
  border: none;
  text-decoration: none;
  transition: background 250ms;

  font-size: 1rem;
  line-height: 1rem;
  /*height: 1rem;*/

  padding: .25rem .5rem;
  margin: .25rem;
}

.adj-btn-lg {
  font-size: 1.5rem;
  line-height: 1.5rem;
  /*height: 1.5rem;*/

  padding: .5rem 1rem;
  margin: .5rem;
}

.adj-btn-home {
  color: var(--color);
  background: rgba(255,255,255,.2);
  /*background: transparent;*/
  text-transform: uppercase;
  /*font-weight: bold;*/
  font-family: var(--font-family-display);

  &:hover {
    background: rgba(255,255,255,.6);
  }
}

.adj-cursor {
  color: white;
  pointer-events: none;
}
